*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://www.soynomada.news/__export/1663442149650/sites/debate/img/2022/09/17/vuelo_nocturno_como_ven_pilotos.png_242310155.png');
    background-size: cover;
}