*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/393/536/1/the-sky-clouds-flight-lights-wallpaper-preview.jpg');
    background-size: cover;
}